<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FromDate" value="05/14/2016" />
    <add key="ToDate" value="06/14/2016" />
  </appSettings>
  <connectionStrings>
    <add name="TravelCreditDB" connectionString="Data Source=agni;Initial Catalog=mTravelCredit;User ID=xmlwebsvc;Password=cvsbewlmx" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>