<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="couchbaseClients">
      <section name="couchbase"
               type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
  </configSections>
  <couchbaseClients>
    <couchbase useSsl="false" operationLifeSpan="1000">
      <servers>
        <add uri="http://http://localhost/:8091/pools"></add>
      </servers>
      <buckets>
        <add name="default" useSsl="false" password="" operationLifespan="2000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"></connectionPool>
        </add>
      </buckets>
    </couchbase>
  </couchbaseClients>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DataAccess.Properties.Settings.mTravelCreditConnectionString" connectionString="Data Source=agni;Initial Catalog=mTravelCredit;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DataAccess.Properties.Settings.dTripConnectionString" connectionString="Data Source=agni;Initial Catalog=dTrip;User ID=xmlwebsvc;Password=cvsbewlmx" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Couchbase.NetClient" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="FromDate" value="05/14/2016" />
    <add key="ToDate" value="06/14/2016" />
    <!--PIMS settings starts-->
    <add key="PIMSVersion" value="PIMS.V1.PIMSClientV1, PIMS.V1"/>
    <add key="StatsDHost" value="192.168.0.63" />
    <add key="StatsDPort" value="8125" />
    <add key="AsyncPoolSize" value="5" />
    <add key="OrganizationId" value="17453"/>
    <add key="AnalyticsApplicationName" value="SqlToCouchbaseMigTool"/>
    <add key="Strategy" value="PerUser"/>
    <!--PIMS settings ends-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccountExtension" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="157286400" maxBufferPoolSize="157286400" maxReceivedMessageSize="157286400" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536000" maxArrayLength="65536000" maxBytesPerRead="409600" maxNameTableCharCount="65536000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IdentityService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="157286400" maxBufferPoolSize="157286400" maxReceivedMessageSize="157286400" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536000" maxArrayLength="65536000" maxBytesPerRead="409600" maxNameTableCharCount="65536000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!--<binding name="BasicHttpBinding_IAccountExtension" />-->
        <!--<binding name="BasicHttpBinding_IdentityService"/>-->
      </basicHttpBinding>
    </bindings>
  <client>
    <endpoint address="http://apis.dev-worldventures.biz/Vexiere/V2.0/ProfileService/AccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountExtension" contract="PIMS.ProfileServices.IAccountExtension" name="BasicHttpBinding_IAccountExtension" />
    <endpoint address="http://apis.dev-worldventures.biz/Vexiere/V2.0/IdentityService/Vexiere.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IdentityService" contract="PIMS.IdentityServices.IdentityService" name="BasicHttpBinding_IdentityService" />
  </client>
  </system.serviceModel>
</configuration>